.job-title-icon {

}

.well.profile-block {
    color: #fff;
    h3 {
        margin-top: 0;
    }
    
}

.well.profile-description {
    background-color: gray;
    border-color: silver;
}

.well.contact-info {
    background-color: #5bc0de;
    border-color: #46b8da;
}